
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');




body{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
flex: 1 1 auto;
font-family: 'Roboto Mono', monospace;

}
#header{
    background-color: #618264;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px 0px 40px;
}
#name{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    color: #D0E7D2;
}
.socials{
    display: flex;
    gap: 15px;
    margin-right: 50px;
}
#links{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #618264;
    gap: 40px;
    height: 50px;
    font-family: 'Major Mono Display', monospace;
}
h1{
    margin: 30px auto;
    width: 300px;
}
.table{
    padding-bottom: 30px;
    
}
table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
td{
    background-color: #E4F1FF;
}
.time{
    background-color: #A1CCD1;
}
.comp{
    background-color: #B0D9B1;
}
.mist{
    background-color: #FF6969;
}
.gym{
    background-color: #D0BFFF;
}
.orgb{
    background-color: #F78CA2;
}
a{
    text-decoration: none;
    color: #D0E7D2;
}
